@(message: String, style: String = "scala") 

@defining(play.core.PlayVersion.current) { version =>

<section id="top">
  <div class="wrapper">
      <h1><a href="https://playframework.com/documentation/@version/Home">@message</a></h1>
      <h1>Tasveer-e-Mujasaam</h1>
      <img src="assets/images/if_recycling_1936907.png" alt="Redirect..." width="3.5%">
  </div>
</section>


<div id="content" class="wrapper doc">
<article>
    <img src="assets/images/RQ-1.jpg" alt="redirect">
    <h2>
        "Do you Know what are you?
          You are manuscript of a
             divine letter.
        You are a mirror reflecting
            a noble face.
        This universe is Outside
            of you.
          Look inside yourself;
        everything that you want,
          you are already that.
                        ~RUMI."
    </h2>

</article>
    <aside>
        <section id="quicklink">
            <form class="input" action="">
                <input itemtype="text" placeholder="username" class="name" width="100px">
                <br>
                <br>
                <input itemtype="text" placeholder="password" class="pass" type="password" width="100px">
                <br>
                <br>
                <button onclick=""><i class="login">Login</i> </button>
                <a href="">Create Your Account</a>
            </form>
        </section>
    </aside>
</div>


</div>
<section class="footer">
    <address>
        <div class="wrapper">
            Koohinoor HQ, <br>
            Lahore Pakistan.
            <div class="number">+923-174-287-461</div>
        </div>
    </address>
</section>

}
